.cityHeadingstyle {
    font-size: 18px;
    font-weight: 900;
    font-family: Montserrat;
}

.bi-chevron-right,
.bi-chevron-left:hover {
    cursor: pointer;
}

.fareDisclaimer {
    text-align: left;
    font-size: 10px;
    color: #838083;
    margin-top: 5px;
}

.fare-summary-container {
    font-size: .875rem;
    font-weight: 200;
    color: #8f8f8f;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    float: left;
    width: 100%;
}

.fare-toggle-btn {
    color: #d84e55;
    text-align: right;
    cursor: pointer;
    font-size: 14px;
    font-weight: 200;
}

.bookingProceed {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    border-top: 0;
    padding: 10px;
    margin-top: 30px;
    background: #f8f8f8;
    width: 100%;
}

.fare-total {
    font-size: 14px;
    color: #3e3e52;
}