#hero-bg {
  // background: url("../images/hero-bg.png") center center no-repeat;
  background: url("https://s3.rdbuz.com/images/webplatform/india/Homepage-header-2000.webp") center center no-repeat;
  background-size: cover;
  height: 32rem !important;
}

.elPSlA {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.inputbox-outer {
  display: flex;
  // width: 100%;
  justify-content: center;
  position: absolute;
  top: 260px;
}

.inputbox-inner1 {
  display: flex;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 12px, rgba(0, 0, 0, 0.05) 0px 0px 0px;
  border-radius: 32px;
  cursor: pointer;
  background: rgb(255, 255, 255);
}

.inputbox-from {
  position: relative;
}

.inputbox-from-button {
  display: flex;
  flex-direction: column;
  position: relative;
}

.inputbox-from-button-inner1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 112px;
  gap: 13px;
  border-radius: 32px 0px 0px 32px;
  background-color: rgb(255, 255, 255);
}

.input-icon {
  font-size: 24px;
  color: rgba(22, 22, 22, 0.692);
}

.inputbox-from-inner2 {
  display: flex;
  align-items: center;
  width: 166px;
  height: inherit;
  position: relative;
}

.inputbox-from-inner3 {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 86px;
}

.inputbox-from-label {
  padding-left: 7px;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  pointer-events: none;
  display: flex;
  color: rgb(126, 126, 140);
}

.inputbox-placeholder {
  display: flex;
  flex-direction: column;
}

.placeHolderMainText {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(29, 29, 29);
  overflow: hidden;
  max-height: 44px;
}

.selectclass {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(29, 29, 29);
  overflow: hidden;
  max-height: 44px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #fff;

}

.inputbox-seperator {
  height: 100%;
  width: 1px;
  background-color: rgba(94, 91, 91, 0.27);
}

.inputbox-arrowswap {
  width: 40px;
  height: 40px;
  background: rgb(255, 255, 255);
  left: 250px;
  top: 36px;
  color: rgb(107, 107, 107);
  border: 1px solid rgb(224, 224, 224);
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  cursor: pointer;
}

.searchbox {
  width: 243px;
  padding: 40px;
  gap: 12px;
  background: rgb(216, 78, 85);
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 0px 32px 32px 0px;
}



select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  appearance: none;

}

/* Style for select options */
.optionStyle {
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgb(29, 29, 29);
  overflow: hidden;
  max-height: 44px;
}

/* Style for select options when hovered */
.optionStyle:hover {
  background-color: lightgray;
}

.inputbox-inputbox {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgb(29, 29, 29);
  overflow: hidden;
  max-height: 44px;
  border: #ccc;
}

.inputbox-ul {
  position: relative;
  top: 45px;
  left: -25px;
  z-index: 10;
  margin: 0px;
  list-style: none;
  overflow: hidden scroll;
  padding: 20px 0px;
  width: 175px;
  max-height: 400px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 10px;
  border-radius: 32px;
}

.inputbox-ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgb(29, 29, 29);
  overflow: hidden;
  max-height: 44px;
}

.inputbox-ul::-webkit-scrollbar {
  display: none;
  /* Hide the scrollbar */
}

// iiiiiiiiiiiiiiiii

.custom-container-wrapper {
  display: flex;
  justify-content: center;
}

.coupon-flex {
  display: flex;
  gap: 1.5rem;
  /* overflow: scroll hidden; */
  overflow: scroll hidden;
  scroll-behavior: smooth;
}

.coupon-flex::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, Opera */
}

.custom-container {
  /* border: solid black 1px; */
  border-radius: 32px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 25px;
  width: 75%;
  padding: 32px;
  margin-top: -30px;
}

.trendingOffRow {
  display: flex !important;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.toff {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.eVcjqmBz {
  color: rgb(16, 52, 217);
  font-weight: 600;
  border-radius: 1.5rem;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px 24px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.outerAdDiv {
  display: flex;
  width: 268px;
  height: 136px;
  border-radius: 1rem;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(71.04deg, rgb(12, 57, 139) -6.92%, rgb(62, 118, 216) 109.43%);
  padding: 16px;
  gap: 1rem;
  cursor: pointer;
}

.logoSB {
  display: flex;
  align-items: center;
}

.logoImg {
  border-radius: 50%;
}

.couponContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 180px;
}

.gJgZBcN {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1.25rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
  font-size: 12px;
  text-align: center;
}

.vOLKxZ {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  max-height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ggQBywQ {
  font-size: 12px;
  line-height: 1rem;
  font-weight: 400;
}

.jJltkuE {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.iWrqRdP {
  border: 1px dashed rgb(255, 255, 255);
  border-radius: 0.25rem;
  max-width: 140px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.25rem 0.5rem;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kcXuioK {
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

.jccent {
  width: 100%;
}