* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

.layout-container {
    border: solid 1px black;
    width: fit-content;
    height: fit-content;
}

.sleep-seat {
    border: solid 1px black;
    margin: 5px;
    width: 80px;
    height: 35px;
    color: grey;
    display: flex;
    justify-content: center;
    /* Aligns items horizontally (center) */
    align-items: center;
    background-color: white;

}

.sleep-seat:hover {
    cursor: pointer;
}

.grey-background {
    background-color: grey;
    color: white;
}

.layout-row {
    display: flex;
}

.isle {
    margin-top: 35px;
}